html{
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
  background-color: hsl(212, 45%, 89%);
}

.ce{
  display: flex;
  justify-content: center;
  align-items: center;
}

.con{
  background-color: hsl(0, 0%, 100%);
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max(20%, 20rem);
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 8rem;
}

img{
  margin: 20px;
  border-radius: 10px;
}

h3{
  color: grey;
  margin: 10px 25px;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 40px;
  font-size: 1rem;
}

h1{
  color:hsl(218, 44%, 22%);
  margin: 5px 15px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.4rem;
}

.attribution{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
}

@media (max-width: 1020px) {
  .con {
    margin-top: 5rem;
  }
}
